.conteudomembro
{
    text-align: center;
    position: relative;
}
.titulomembro
{
    margin-left: 100px; 
}
.nomemembro
{
    font-family: Arial, Helvetica, sans-serif;
}
.subtitulomembro
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 6px;
}
.table
{
    border: solid;
    width: 500px;
    display: inline-block;
    text-align: left;
}
.line
{
    border: solid;
}
.columns1
{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-weight: 700;
}
.columns2
{   
    display: inline-block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 220px;
}
.textomembro
{
    border: solid;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 12px;

}
.imgmembro
{
    border: solid;
    width: 500px;
}
.direita
{
    position: relative;
    border: solid;
    display: inline-block;
}
.name
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 5px;
}
.primeirapalavra
{
    font-weight: 800;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}