header
{   
    display: inline-block;
    position: relative;
    width: 100%;
    background-color: aquamarine;
    height: 50px;
}
.logo
{   
    position: absolute;
    left: 7px;
    top: 3px;
    display: inline-block;
    width: 50px;
}

h1
{   
    margin-bottom: -15px;
    padding: 15px 10px 0px 10px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2
{   
    margin-top: -5px;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3
{
    padding: 100px 0px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.principal
{
    text-align: center;
    padding: 10px 50px;
}
.texto
{
    padding: 20px 20px 200px 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
.missao, .visao, .valores
{   
    display: inline-block;
    align-items: start;
    width: 30%;
    top: 0px;
    vertical-align: text-top;
}
.m1, .va1, .vi1
{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.mtext, .vatext, .vitext
{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    letter-spacing: 2px;
}
.mvv
{   
    text-align: center;
}

footer
{
    width: 100%;
}
.f1
{
    position: relative;
    left: 10px;
    display: inline-block;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.f2
{   
    position: absolute;
    right: 50px;
    display: inline;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.imgmvv
{
    width: 75px;
}
