header
{   
    border: solid;
    width: 100%;
}
.logo
{   
    position: relative;
    left: 5px;
    top: 2px;
    display: inline-block;
    width: 50px;

}
.menu
{   
    position: fixed;
    right: 15px;
    margin-top: 10px;
    display: inline-block;
    word-spacing: 25px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}
h1
{   
    margin-bottom: -15px;
    padding: 15px 10px 0px 10px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2
{   
    margin-top: -5px;
    padding: 0px 10px 10px 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3
{
    padding: 100px 0px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.principal
{
    text-align: center;
    padding: 10px 50px;
}
.texto
{
    padding: 20px 20px 200px 20px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
}
.missao, .visao, .valores
{   
    display: inline-block;
    align-items: start;
    width: 30%;
    top: 0px;
    vertical-align: text-top;
}
.m1, .va1, .vi1
{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}
.mtext, .vatext, .vitext
{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    letter-spacing: 2px;
}
.mvv
{   
    text-align: center;
}

footer
{
    width: 100%;
}
.f1
{
    position: relative;
    left: 10px;
    display: inline-block;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.f2
{   
    position: absolute;
    right: 50px;
    display: inline;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.imgmvv
{
    width: 75px;
}
.conteudomembro
{
    text-align: center;
    position: relative;
}
.titulomembro
{
    margin-left: 100px; 
}
.nomemembro
{
    font-family: Arial, Helvetica, sans-serif;
}
.subtitulomembro
{
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}
.table
{
    border: solid;
    width: 500px;
    display: inline-block;
    text-align: left;
}
.line
{
    border: solid;
}
.columns1
{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: bold;
    font-weight: 700;
}
.columns2
{   
    display: inline-block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 220px;
}
.textomembro
{
    border: solid;
    display: inline-block;
    width: 50%;
    vertical-align: top;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 12px;

}
.imgmembro
{
    border: solid;
    width: 500px;
}
.direita
{
    position: relative;
    border: solid;
    display: inline-block;
}
.name
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 0%;
    margin-top: 5px;
}
.primeirapalavra
{
    font-weight: 800;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}